.site_logo{
    height: 37px;
}
@media only screen and (max-width: 600px) {
    .site_logo{
        height: 15px;
    }
  }
.site_navi{
  height: 60px;
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding: 3vw 5vw;
    position: sticky;
    top: 0;
    background-color: white;
    pointer-events: auto;
}
header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li{
    line-height: 29px;
    font-size: 16px;
    color: #373737;
    letter-spacing: 0.02em;
    font-weight: 300;

}
@media only screen and (max-width: 600px) {
    li{
        font-size: 12px;
    }
  }

.site_navi .social_links:last-of-type {
    margin-left: auto;
}

.navi_links{
    width: 270px;
}
.social_links{
    width: 60px;
}
@media only screen and (max-width: 600px) {
    .social_links{
       display: none;
    }
  }

  
  .active {
    border-bottom: 1px solid #cbb696;
    color: rgb(8 9 11);
   

  }
  