.works_header{
    line-height: 36px;
    font-size: 20px;
    color: #373737;
    letter-spacing: 0.04em;
    margin: 30px 0px;
    padding: 3vw 7vw;
    font-weight: 100;
    border-bottom: 1px solid #000000;
    width: 350px;
}
@media only screen and (max-width: 600px) {
    .works_header{
        font-size: 15px;
        padding: 3vw 7vw;
    font-weight: 100;
    border-bottom: 1px solid #000000;
    width: 270px;
    }
  }
.works_header span{
    font-size: 30px;
    color: #000000;
    font-weight: 600;
   
}
@media only screen and (max-width: 600px) {
    .works_header span{
        font-size: 20px;
        color: #000000;
        font-weight: 600;
       
    }
  }
.spinner{
    margin: 0;
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;          
    height: 100vh;  

}
@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) {
        .pum-overlay .pum-content {
            outline: none !important;
        }
    }
  }